<h2 class="page-header">b</h2>
<div class="container">
  <h2 class="page-header">Mon compte :</h2>
  <p> Nom : {{name}}<p>
  <p> Prénom : {{firstname}}<p>
  <p> Nom d'utilisateur : {{username}}<p>
  <p> Adresse email : {{email}}<p>
</div>
