<!DOCTYPE html>
<html lang="en">

    <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/overwrite.css">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" />

  <body>


	<div id="pricing">
		<div class="container">
			<div class="text-center">
				<h3>Billetterie</h3>
				<p>Que vous souhaitiez poser votre tente pour toute la durée du festival, ou simplement venir voir votre artiste favori une nuit, vous trouverez votre formule parmi celles qui existent dans notre billetterie !</p>
			</div>

			<div class="pricing-area text-center">
                <div class="row">
                    <div class="col-sm-4 plan price-one wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
                        <ul>
                            <li class="heading-one">
                                <h2>Pass 1 nuit</h2>
                                <span>15 €</span>
                            </li>
                            <li>Accès à tous les concerts pour une nuit</li>
                            <li>Accès aux aménagements (douches, supérette)</li>
                            <li>Possibilité de louer une tente</li>
                            <li class="plan-action">
                                <a href="/Pass1" class="btn btn-primary">Acheter</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-two wow fadeInDown" data-wow-offset="0" data-wow-delay="0.6s">
                        <ul>
                            <li class="heading-two">
                                <h2>Pass 2 nuits</h2>
                                <span>27 €</span>
                            </li>
                            <li>Accès à tous les concerts pour une nuit</li>
                            <li>Accès aux aménagements (douches, supérette)</li>
                            <li>Possibilité de louer une tente</li>
                            <li>Accès aux activités, jeux et spectacles de la journée</li>
                            <li class="plan-action">
                                <a href="/Pass2" class="btn btn-primary">Acheter</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-three wow fadeInDown" data-wow-offset="0" data-wow-delay="0.9s">
                        <img src="img/ri.png">
                        <ul>
                            <li class="heading-three">
                                <h2>Pass Complet Premium</h2>
                                <span>37 €</span>
                            </li>
                            <li>Accès à tous les concerts pour une nuit</li>
                            <li>Accès aux aménagements (douches, supérette)</li>
                            <li>Possibilité de louer une tente</li>
                            <li>Accès aux activités, jeux et spectacles tous les jours</li>
                            <li>Bracelet coupe-file</li>
                            <lde la journéei class="plan-action">
                                <a href="/billetterie" class="btn btn-primary">Acheter</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div><!--/pricing-area-->
		</div>
	</div><!--/#pricing-->


	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/fliplightbox.min.js"></script>
	<script src="js/functions.js"></script>
	<script>
	wow = new WOW(
	 {

		}	)
		.init();
	</script>
  </body>
</html>
