<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Photo &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<!-- <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="Page_Artistes/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="Page_Artistes/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="Page_Artistes/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="Page_Artistes/css/style.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="Page_Artistes/css/magnific-popup.css">

	<!-- Modernizr JS -->
	<script src="Page_Artistes/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>


	<div id="fh5co-page">


	<div class="container-fluid" id="fh5co-image-grid">


		<div class="grid">
		  <div class="grid-sizer"></div>

		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		  		<a href="Page_Artistes/images/img_1.jpg" class="image-popup" title="Vous l’avez connu dans Drive avec son tube surpuissant Nightcall, ou encore avec Roadgame, le DJ futuriste français a su s’approprier la scène électro mondiale. Le zombie à la Ferrari débarque sur le campus de La Doua pour vous faire vibrer avec ses tubes mêlant une synthwave rêveuse et futuriste aux sonorités des années 80. Mettez votre casque, baissez la visière, et laissez Kavinsky vous en mettre plein la figure. ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_1.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>Kavinsky</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_2.jpg" class="image-popup" title="2">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_2.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>2</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_3.jpg" class="image-popup" title="3">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_3.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>Disclosure</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_4.jpg" class="image-popup" title="4">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_4.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>4</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_5.jpg" class="image-popup" title="Depuis ses débuts, Hippocampe Fou n’a cessé d’évoluer à travers de morceaux de plus en plus délirants, mais aussi parfois engagés ou bien encore critiques sur la vie moderne, où tout n’est que consommation rapide. Il a aussi su s’entourer de grand nom de la scène rap française tel que Gaël Faye, victorieux du prix de la révélation scène au Victoire de la Musique 2018, ou encore Dooz Kawa, qui sublime la scène française avec un rap conscient. ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_5.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>Hippocampe fou</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_6.jpg" class="image-popup" title="6">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_6.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>6</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_7.jpg" class="image-popup" title="7">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_7.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>7</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_8.jpg" class="image-popup" title="8">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_8.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>8</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_9.jpg" class="image-popup" title="9">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_9.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>9</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_10.jpg" class="image-popup" title="10">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_10.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>10</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_11.jpg" class="image-popup" title="En dépit d'une image un peu papier glacé, l'Israélien Asaf Avidan n'a rien du chanteur pastel et passe-partout, aussitôt encensé par la critique, aussitôt oublié par le public. Il est revenu de plusieurs ruptures et d'un cancer. Désormais, ses chansons pansent ses plaies et son timbre de “chat écorché” séduit le monde entier. ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_11.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>Asaf Avidan</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_12.jpg" class="image-popup" title="12">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_12.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>12</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_13.jpg" class="image-popup" title="Quand les Pixies rencontrent les Strokes sur un fond de fun et d’énergie adolescente, ça donne Vundabar : un groupe de potes de Massachusetts prêts à faire chanter leurs guitares devant les filles, toujours avec une dose de bon délire. ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_13.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>Vundabar</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_14.jpg" class="image-popup" title="Nous sommes heureux et fiers d’accueillir Hilight Tribe cette année: cette pointure dans le milieu de la Natural Trance, nous ramènera vers nos instincts tribaux grâce à un live 100% instrumental, où chaque musicien use de son art pour nous rapprocher de la Terre, mais en utilisant la technologie actuelle pour modifier chaque sonorité que peuvent leur fournir leurs instruments">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_14.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>HILIGHT TRIBE</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_15.jpg" class="image-popup" title="Trois ans qu'il parfait sa musique en studio et sur la route, trois ans qu'il assure les premières parties d'artiste électroniques de renom tels que Rone, Agoria ou Thylacine. A 22 ans, InClose sort désormais son second EP - Synchronized. Travaillant avec le label Dealer de Musique, InClose est un amoureux des synthétiseurs analogiques, et cela s'entend. Point de départ de ses compositions, les machines s'assemblent pour constituer un laboratoire, source de ses rêveries, de ses mélodies, de ses arrangements et de la qualité de ses productions. En mai, il aura la chance de défendre son nouveau Live sur scène sur notre festival ! InClose est prêt au décollage, et on espère que vous aussi ! ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_15.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>INCLOSE</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>

		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		  		<a href="Page_Artistes/images/img_16.jpg" class="image-popup" title="RHINO est un pur mélange de la culture européenne, né en Angleterre, élevé en Allemagne et actuellement résidant en France, le prodige de l’électro s’est lancé dans un projet solo qui allie électro, musiques urbaines, dancehall et soul. Grâce à ses pads, claviers et machines, RHINO nous propose un mélange explosif et nous fait voyager à travers son live aux sonorités fraîches et étonnantes. ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_16.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>RHINO</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_17.jpg" class="image-popup" title="Entre hip-hop et abstract, le producteur poitevin nous proposait avec son dernier album Soul Food un menu alléchant : salade de beats soul, accompagné de trip-hop funky assaisoné d’influences jazz. Quelque chose nous dit que la cuisine n’est pas prête de fermer. Vous reprendrez bien une dose de samples ? ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_17.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>KOGNITIF</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_18.jpg" class="image-popup" title="18">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_18.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>18</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_19.jpg" class="image-popup" title="Ils trahissent la frénésie et le sens de la fête de leur génération : Contrefaçon nous amène sa techno qui tabasse, couplant Pink Floyd pour le psychédélisme, Daft Punk ou Justice côté French Touch, et de la vidéo puissante qui colle à ses titres futuristes, agressifs mais mélodieux. Ils se démarquent et nous la collent cache : ça tape et ça ">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_19.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>CONTREFAÇON</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_20.jpg" class="image-popup" title="20">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_20.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>20</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_21.jpg" class="image-popup" title="21">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_21.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>21</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_22.jpg" class="image-popup" title="22">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_22.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>22</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_23.jpg" class="image-popup" title="23">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_23.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>23</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_24.jpg" class="image-popup" title="24">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_24.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>24</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_25.jpg" class="image-popup" title="25">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_25.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>25</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_26.jpg" class="image-popup" title="26">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_26.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>26</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_27.jpg" class="image-popup" title="27">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_27.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>27</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_28.jpg" class="image-popup" title="28">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_28.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>28</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_29.jpg" class="image-popup" title="29">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_29.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>29</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		    <a href="Page_Artistes/images/img_30.jpg" class="image-popup" title="30">
					<div class="img-wrap">
						<img src="Page_Artistes/images/img_30.jpg" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>30</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>



		</div>


	</div>

	</div>

	<!-- jQuery -->
	<script src="Page_Artistes/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="Page_Artistes/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="Page_Artistes/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="Page_Artistes/js/jquery.waypoints.min.js"></script>

	<!-- Magnific -->
	<script src="Page_Artistes/js/jquery.magnific-popup.min.js"></script>
	<script src="Page_Artistes/js/magnific-popup-options.js"></script>
	<!-- Isotope & imagesLoaded -->
	<script src="Page_Artistes/js/isotope.pkgd.min.js"></script>
	<script src="Page_Artistes/js/imagesloaded.pkgd.min.js"></script>
	<!-- GSAP  -->
	<script src="Page_Artistes/js/TweenLite.min.js"></script>
	<script src="Page_Artistes/js/CSSPlugin.min.js"></script>
	<script src="Page_Artistes/js/EasePack.min.js"></script>

	<!-- MAIN Page_Artistes/js -->
	<script src="Page_Artistes/js/main.js"></script>

	</body>
</html>
