<style>
.down{
  margin-top: 125px;
}
</style>

<div class="container">
  <h2 class="page-header down">Inscription</h2>

  {{#if user}}
          <div class="alert alert-danger">Nom d'utilisateur déjà utilisé</div>
  {{/if}}
  {{#if mail}}
          <div class="alert alert-danger">Adresse email déjà utilisée</div>
  {{/if}}
  {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
  {{/if}}
  <form method="post" action="/users/register">
    <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control" placeholder="Nom" name="lastname">
    </div>
    <div class="form-group">
      <label>Prénom</label>
      <input type="text" class="form-control" placeholder="Prénom" name="firstname">
    </div>
    <div class="form-group">
      <label>Nom d'utilisateur</label>
      <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username">
    </div>
     <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" placeholder="Mot de passe" name="password">
    </div>
    <div class="form-group">
      <label>Confirmez le mot de passe</label>
      <input type="password" class="form-control" placeholder="Confirmez le mot de passe" name="password2">
    </div>
    <button type="submit" class="btn btn-default">S'inscrire</button>
  </form>
  <p class='down'> </p>
</div>
